

        <!-- <div class="card" style="width: 12rem; height: 22rem;">
            <img class = "propImg" src="/images/House1.png" class="card-img-top" alt="...">
            <div class="card-body p-2 text-center ">
                <h5 class="card-title">{{Property.propertyname}}</h5>
                <p class="card-text">Size: {{Property.propertysize}} Price: {{Property.propertyprice}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->


        <div class="card" style="width: 12rem; height: 22rem;">
            <img class = "propImg" src="/images/House1.png" class="card-img-top" alt="...">
            <div class="card-body p-2 text-center ">
                <h5 class="card-title">{{property.propertyname}}</h5>
                <p class="card-text">Size: {{property.propertysize}} Price: {{property.propertyprice}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

 